.main-container {
  display: flex;
  flex-direction: row;
}

.left-navigation {
  margin-left: 10px;
}
.right-reminder {
  margin-left: 30%;
}
.center-groupbuttons{
  margin-left: 600px;
  justify-content: center;
}
